<ngx-spinner></ngx-spinner>
<div class="container mt-3">
  <div class="row">
    <div class="col">
      <div class="dx-fieldset">
        <div class="dx-field">
          <div class="dx-field-label">Tarih</div>
          <div class="dx-field-value">
            <dx-date-box
              #exchangeDate
              [max]="now"
              displayFormat="dd.MM.yyyy"
              (valueChange)="dateBoxValueChange($event)"
              type="date">
            </dx-date-box>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div *ngIf="!exchange" class="alert alert-warning" role="alert">
        <fa-icon [icon]="faExclamationTriangle"></fa-icon> Kur bilgisi bulunamadı.
      </div>
      <div *ngIf="exchange">
        <dx-data-grid
          id="gridContainer"
          [showRowLines]="true"
          [rowAlternationEnabled]="true"
          [dataSource]="exchange"
          [showBorders]="true">
          <dxo-search-panel
            [visible]="true"
            [highlightCaseSensitive]="true"
          ></dxo-search-panel>
          <dxi-column dataField="@attributes.Kod" caption="Döviz" alignment="left" cellTemplate="cellTemplate"></dxi-column>
          <dxi-column dataField="Unit" caption="Birim" dataType="number" alignment="center"></dxi-column>
          <dxi-column dataField="ForexBuying" caption="Alış" dataType="number" alignment="right"></dxi-column>
          <dxi-column dataField="ForexSelling" caption="Satış" dataType="number" alignment="right"></dxi-column>

          <div *dxTemplate="let data of 'cellTemplate'">
            <div class="currency-flag currency-flag-{{data.value.toLowerCase()}}"></div>
             {{data.value}}
          </div>



        </dx-data-grid>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
